body {
  background: #eee;
}

.main-container {
  position: relative;
}

.sidebar-container {
  height: 100vh;
}

#side_nav {
  background: rgb(17, 17, 17);
  min-width: 250px;
  max-width: 250px;
  transition: all linear 250ms;
}

.header-box {
  position: relative;
}

.sidebar-close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  /* outline: 0 !important; */
  border: none;
}

.btn:hover {
  transform: scale(1.1);
  transition: all ease-in-out 200ms;
}

.right-navbar .profile-bg {
  background-image: url(../../images/profile_photos/pfp1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

.content {
  min-height: 100vh;
  width: 100%;
}

hr.h-color {
  color: #eee;
}

.sidebar li {
  margin: 1px;
}

.sidebar li.active {
  background: #eee;
  border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
  color: #000;
}

.sidebar li a {
  color: #eee;
  transition: all ease-in-out 300ms;
}

.sidebar li a:hover {
  background: #eee;
  border-radius: 8px;
  color: #000;
}

.content .live {
  display: block !important;
}

.content-bg {
  background: #f9fafd;
}

@media screen and (max-width: 991px) {
  #side_nav {
    margin-left: -250px;
    position: fixed;
    min-height: 100vh;
    z-index: 1;
  }
}

@media screen and (min-width: 992px) {
  #side_nav {
    margin-left: 0px !important;
    position: static;
    min-height: 100vh;
    z-index: 1;
  }
}
