<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./sign up.css">
</head>
<body>
    <div id="signUp-container" class="container" onsubmit="signUp()">
        <h2>Sign Up</h2>
        <input type="text" id="signUp-username" placeholder="Username">
        <input type="password" id="signUp-password" placeholder="Password">
        <button onclick="signUp()">Sign Up</button>
        <a href="./sign in.html">Sign In</a>
    </div>

    <script src="./sign in-up.js"></script>
</body>
</html>